<!--<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>数据正在转换请稍后 - PHPWIND数据转换平台</title>
<link rel="stylesheet" type="text/css" href="template/style.css" />
<script type="text/javascript">
		function redirect()
		{
			window.location.replace('{$refreshurl}');
		}
		setTimeout('redirect();', {$refreshtime});
	</script>
</head>
<body id="body_main">
<div id="body">
	<div id="titlebar">PHPWind 数据转换平台</div>
	<div class="content">当前操作：{$db_table}，{$start} 到 {$end} 的数据库记录转换完成。请耐心等待。。。 </div>
	<div id="copyright"> Copyright &copy;2003 - 2009 PHPWind.com All rights reserved.</div>
</div>
</body>
</html>
<!--
EOT;
?>-->
