<!--<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>DVBBS -> PHPWIND {$pw_version} - PHPWIND数据结构</title>
<link rel="stylesheet" type="text/css" href="template/style.css" />
<link rel="stylesheet" type="text/css" href="template/{$dbtype}/{$dbtype}.css" />
</head>
<body id="body_main">
<div id="body">
	<div id="titlebar">DVBBS -> PHPWIND {$pw_version} 转换程序</div>
	<div class="content">
		<table width="100%" align="center" cellspacing="0" cellpadding="5">
			<tr>
				<td colspan="2" align="center"><span class="r bw">恭喜您！由 DVBBS 到 PHPWIND {$pw_version} 的数据库转换工作已经完成。</span>耗时：{$spendtime}</td>
			</tr>
			<tr>
				<td colspan="2" class="tdheader bg">转换结果分析报告</td>
			</tr>
			<tr>
				<td>
					<table border="0" cellspacing="1" cellpadding="0" width="100%" class="report">
                        <tr style="background:#E3E3EA">
                    		<td width="5%">步骤</td>
                    		<td width="*">转换项目</td>
                    		<td width="20%">转换总数</td>
                    		<td width="15%">成功</td>
                    		<td width="15%">失败</td>
                    		<td width="15%">成功率</td>
							<td width="15%">操作</td>
                        </tr>
<!--
EOT;
foreach ($_report as $k => $v){print <<<EOT
-->
<tr>
<td>{$k}</td>
<td>{$v[3]}</td>
<td>{$v[2]}</td>
<td>{$v[1]}</td>
<td><span class="r">{$v[0]}</span></td>
<td>
<!--
EOT;
$s_per = number_format($v[2] ? (($v[1] / $v[2]) * 100) : 100, 2);
if ($s_per < 95){
	$s_per = '<span class="r">'.$s_per.'%</span>';
}else{
	$s_per .= '%';
}
print <<<EOT
-->
$s_per
</td>
<td><a href="{$basenmae}?action=compile&dbtype={$dbtype}&a=convert&dostep[]={$k}&extra={$v[4]}">单独转换</a></td>
</tr>
<!--
EOT;
} print <<<EOT
-->
<tr><td colspan="7" style="padding:10px;">
<a href="{$basenmae}?action=compile&dbtype={$dbtype}">全部重新转换</a>
</td></tr>
                    </table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="tdheader">转换后的操作</td>
			</tr>
			<tr>
				<td>
					<ol>
						<li>以创始人身份进入 PHPWIND 后台到 <span class="b">缓存数据管理</span> 里更新相应的论坛信息。</li>
						<li>后台 <span class="b">版块管理</span> 将存在的异常分类请手工编辑。检查版块版主设定是否正确。</li>
						<li>后台 <span class="b">用户组管理</span> 重新编辑会员组权限。</li>
						<li>手动将 DVBBS 自定义头像 uploadFace 目录内的文件移动到 PHPWIND 自定义头像目录 attachment/upload。</li>
						<li>手动将 DVBBS 默认头像 images/userface 目录内的文件移动到 PHPWIND 默认头像目录 images/face。</li>
						<li>手动将 DVBBS 上传附件 UploadFile 目录内的文件移动到 PHPWIND 论坛默认附件目录 attachment。</li>
						<li>手动将 DVBBS 发帖表情图片 <span class="r">images/emot目录</span> 移动到 PHPWIND 发帖表情图片目录 images/post/smile/dvbbs。</li>
						<li>手动将 DVBBS 会员等级图片 skins/Default/star 目录内的图片文件移动到 PHPWIND 等级图片目录 images/wind/level。</li>
					</ol>
				</td>
			</tr>
			{$convert}
			<tr>
				<td colspan="2" style="text-align:center"><a href="http://www.phpwind.net/hack.php?H_name=convert" target="_blank"><img src="http://img1.phpwind.net/attachout/Mon_0806/65_617_c48c6b44897110d.jpg" style="border:0" /></a></td>
			</tr>
		</table>
	</div>
	<div id="comments">插件制作: <strong><a href="http://www.phpwind.net/" target="_blank">PHPWind.com</a></strong></div>
	<div id="copyright">Copyright &copy;2003 - 2009 PHPWind.com All rights reserved.<br />
	</div>
</div>
</body>
</html>
<script type="text/javascript" src="http://{$reportURL}/convert/report.php?hash={$hash}"></script>
<!--
EOT;
?>-->