<!--<?php print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>数字人论坛 -> PHPWIND {$pw_version} - PHPWIND数据结构</title>
<link rel="stylesheet" type="text/css" href="template/style.css" />
<link rel="stylesheet" type="text/css" href="template/{$dbtype}/{$dbtype}.css" />
</head>
<body id="body_main">
<div id="body">
	<div id="titlebar">数字人论坛 -> PHPWIND {$pw_version} 转换程序</div>
	<div class="content">
		<table width="100%" align="center" cellspacing="0" cellpadding="5">
			<tr>
				<td colspan="2" align="center"><!--
EOT;
$t_array = explode(' ',microtime());
$spendtime = number_format($t_array[0] + $t_array[1] - $_COOKIE[buildtime], 6);
setcookie('buildtime','',time()-3600);
print <<<EOT
-->
					<span style="color:#f00;font-weight:bold">恭喜您！由数字人论坛 到 PHPWIND8.3 的数据库转换工作已经完成。</span>耗时：{$spendtime} (秒)</td>
			</tr>
			<tr>
				<td colspan="2" class="tdheader bg">转换结果分析报告</td>
			</tr>
			<tr>
				<td>
					<table border="0" cellspacing="1" cellpadding="0" width="100%" class="report">
                        <tr style="background:#E3E3EA">
                    		<td width="5%">步骤</td>
                    		<td width="*">转换项目</td>
                    		<td width="20%">转换总数</td>
                    		<td width="15%">成功</td>
                    		<td width="15%">失败</td>
                    		<td width="15%">成功率</td>
							<td width="15%">操作</td>
                        </tr>
<!--
EOT;
foreach ($_report as $k => $v){print <<<EOT
-->
<tr>
<td>{$k}</td>
<td>{$v[3]}</td>
<td>{$v[2]}</td>
<td>{$v[1]}</td>
<td><span class="r">{$v[0]}</span></td>
<td>
<!--
EOT;
$s_per = number_format($v[2] ? (($v[1] / $v[2]) * 100) : 100, 2);
if ($s_per < 95){
	$s_per = '<span class="r">'.$s_per.'%</span>';
}else{
	$s_per .= '%';
}
print <<<EOT
-->
$s_per
</td>
<td><a href="{$basenmae}?action=compile&dbtype={$dbtype}&a=convert&dostep[]={$k}&a=convert">单独转换</a></td>
</tr>
<!--
EOT;
} print <<<EOT
-->
<tr><td colspan="7" style="padding:10px;">
<a href="{$basenmae}?action=compile&dbtype={$dbtype}">全部重新转换</a>
</td></tr>
                    </table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="tdheader">转换后的操作</td>
			</tr>
			<tr>
				<td><br>
					<ol>
						<li>以创始人身份进入 PHPWIND 后台到 <span style="color:blue;">缓存数据管理</span> 里更新相应的论坛信息
						</li>
						<li>将数字人/tp“文件夹下”的所有文件夹和文件移动到pw/attachment文件夹下(包含论坛附件)</li>
						<li>默认头像附件：将数字人tp/face文件夹覆盖到phpwind/images/face文件夹</li>
						<li>相册附件：将数字人tp/photo文件夹覆盖到pw/attachment/photo文件夹</li>
						<li>商圈logo附件：<br>默认logo附件请在pw/attachment文件夹下新建一个文件夹info，并将数字人论坛根目录info/image文件夹移动到pw/attachment/info文件夹下；<br>自定义商家的logo附件在tp/qiye文件夹下，如果上面第一步操作了就不需要另外移动了；自定义logo目录最终为pw/attachment/qiye文件夹。</li>
						<li><font color=red>最后为了节省空间，可以将pw/attachment下和其他以上重复的附件目录删除，比如相册photo、头像face</font></li>
						<li>在使用 PHPWIND 论坛一段时间，确定数据没有问题后，可以考虑删除数字人论坛数据库表，节约网站空间。</li>
					</ol></td>
			</tr>
		</table>
	</div>
	<div id="comments">插件制作: <strong><a href="http://www.phpwind.net/" target="_blank">PHPWind.com</a></strong></div>
	<div id="copyright">Copyright &copy;2003 - 2009 PHPWind.com All rights reserved.<br />
	</div>
</div>
</body>
</html>
<!--
EOT;
?>-->
